@model Company.WebUI.Areas.Admin.Models.LoginViewModel

<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link href="~/Assets/Admin/libs/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/Admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="~/Assets/Admin/libs/css/LoginStyle.css" rel="stylesheet" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="~/Assets/Admin/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    if (TempData["Success"] != null)
                    {
                        <div id="AlertBox" class="alert alert-success hide">Đăng ký thành công</div>
                    }
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", @placeholder = "Tài khoản", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", @placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Đăng nhập</button>
                }
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="@Url.Action("SignUp", "User")" class="footer-link">Tạo tài khoản</a>
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Quên mật khẩu</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="~/Assets/Admin/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Assets/Admin/AdminScript/AlertScript.js"></script>
</body>

</html>