
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Admin/libs/css/style.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link href="~/Assets/Admin/vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/datatables/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/datatables/css/select.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/datatables/css/fixedHeader.bootstrap4.css" rel="stylesheet" />
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                @RenderPage("~/Areas/Admin/Views/Shared/Header.cshtml")
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                @RenderPage("~/Areas/Admin/Views/Shared/MainMenu.cshtml")
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    @RenderSection("header", false)
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    @RenderPage("~/Areas/Admin/Views/Shared/Footer.cshtml")
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/Assets/Admin/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Admin/AdminScript/EquipmentController.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Assets/Admin/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Assets/Admin/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Assets/Admin/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Assets/Admin/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Assets/Admin/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Assets/Admin/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Assets/Admin/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Assets/Admin/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Assets/Admin/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Assets/Admin/libs/js/dashboard-ecommerce.js"></script>
    <!--Table-->
    <script src="~/Assets/Admin/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/js/data-table.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/AdminScript/AlertScript.js"></script>
    @RenderSection("jsFooter", false)
</body>

</html>